* {
    margin: 0;
    padding: 0;
}

header div:first-of-type {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    background-color: rgb(128, 128, 128);

    font-size: 1.1em;
}

#search-field {
    width: 20%;
    height: 50%;
    background-color: rgb(102, 102, 102);
    border-radius: 2px;
    border: 1.5px solid rgb(78, 78, 78);
    padding-left: 10px;
}

header div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

#auth {
    display: flex;
    gap: 50px;
}

#logout-button {
    background-color: inherit;
    border: none;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        color: red;
    }
}